use Mix.Config

config :pivotal_bot, pivotal_tracker_secret_token: "PIVOTAL_TRACKER_TOKEN"

config :pivotal_bot, slack_token: "SLACK_TOKEN"

config :pivotal_bot, PivotalBot.Repo,
  database: "pivotal_bot",
  username: "postgres",
  password: "postgres",
  hostname: "localhost"
